<appSettings>
  <add key="URL" value="http://mengkome.pythonanywhere.com/admin/login/?next=/"/>
  <add key="TestDataSheetPath" value="C:\Users\cromox\source\repos\Mengkome\Mengkome\TestDataAccess\TestData.xlsx"/>
  <!-- <add key="TestDataSheetPath" value="TestDataAccess/TestData.xlsx"/> -->
</appSettings>